.nav-button {
  border: 1px solid transparent !important;
  border-radius: 6px;
  padding: 6px 7px;
  transition: all 0.2s ease;
  cursor: pointer;
  background-color: 'red';
}

.nav-button:hover {
  background-color: #a00a2f22;
  border: 1px solid #a00a30 !important;
}

.nav-button:active {
  background-color: var(--mantine-color-gray-1);
  border-color: var(--mantine-color-gray-6);
}
